.title {
  background: #2980b9 !important;
}
.center {
  width: 90vw;
  max-width: 40rem;
  text-align: center;
}
.len {
  width: 30px;
}
label {
  font-size: 1.25rem;
  color: #eb3b5a;
  font-weight: 500;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  transform: translateY(10%);
}
